<app-card>
  <div slot="titulo" class="d-flex gap-3">
    Usuários - Listagem
    <div class="ms-auto">
      <button class="btn btn-sm btn-outline-light" routerLink="..">Voltar</button>
    </div>
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Filtrar..."
      [formControl]="filtro" #inputFiltro>

    <button class="btn btn-outline-secondary"
      (click)="filtro.setValue(''); inputFiltro.focus()">Limpar</button>
  </div>


  <table class="table table-striped mt-4" [appBloqueado]="carregando" [desfoque]="true">
    <thead class="border-top">
      <tr><th>Nome</th><th>E-mail</th><th>Matrícula</th><th>Dt. Nascimento</th></tr>
    </thead>
    <tbody>
      @if (erro) {
        <tr><td colspan="5" class="text-danger">{{erro}}</td></tr>
      }
      @else {
        @for (usuario of (usuarios | filtrar : filtro.value); track usuario.id) {
          <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.matricula}}</td>
            <td>{{usuario.dataNascimento | date : 'dd/MM/yyyy'}}</td>
          </tr>
        }
        @empty {
          <tr><td colspan="4">Nenhum usuário encontrado.</td></tr>
        }
      }
    </tbody>
  </table>


  <div class="d-flex align-items-center gap-3 py-2" [appBloqueado]="carregando">
    <div class="me-auto d-flex align-items-center gap-2">
      Exibir
      <select class="form-select form-select-sm" [value]="tamanhoPagina"
        (change)="alterarTamanhoPagina($any($event.target).value)">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
      registros
    </div>

    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina < 2"
      (click)="primeira()">Primeira</button>
    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina < 2"
      (click)="anterior()">Anterior</button>

    <span>Página: {{numeroPagina}} {{totalPaginas > 0 ? 'de ' + totalPaginas : ''}}</span>

    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina >= totalPaginas"
      (click)="proxima()">Próxima</button>
    <button class="btn btn-sm btn-secondary" [disabled]="numeroPagina >= totalPaginas"
      (click)="ultima()">Última</button>
  </div>
</app-card>
