@if (atalhos().length) {
  <nav class="links-destaque" [class.links-edicao]="edicaoAtiva()">
    @for (atalho of atalhos(); track $index) {
      <a [href]="atalho.url" target="_blank"
        [title]="edicaoAtiva() ? `Remover ${atalho.nome} dos destaques` : ''"
        (click)="atalhoClick(atalho, $event)">
        <img aria-hidden="true" [src]="`img/atalhos/${atalho.icone || 'icone-generico.jpg'}`">
        {{atalho.nome}}
      </a>
    }
  </nav>
}
@else {
  <h2 class="text-center fs-5 mt-5">Não existem atalhos a serem exibidos.</h2>
}