<hr class="divider my-4">

@if (minimoColapsar() > 0 && atalhos().length >= minimoColapsar()) {
  <div class="d-block text-center">
    <button class="btn btn-outline-secondary fw-semibold dropdown-toggle"
      [class.active]="exibirMais"
      (click)="exibirMais = !exibirMais">
      <span class="visually-hidden">{{exibirMais ? 'Ocultar' : 'Exibir'}} links para</span>
      Mais sistemas do MPF
    </button>
  </div>
}
@else {
  <h2 class="text-center">Mais sistemas do MPF</h2>
}

<nav class="links-mais-sistemas" [class.links-edicao]="edicaoAtiva()"
  [hidden]="!(exibirMais || !minimoColapsar() || atalhos().length < minimoColapsar())">
  @for (atalho of atalhos() | ordenar : 'nome'; let i=$index, impar=$odd, ultimo=$last; track $index) {
    <a [href]="atalho.url" target="_blank"
      [title]="edicaoAtiva() ? `Adicionar ${atalho.nome} aos destaques` : ''"
      (click)="atalhoClick(atalho, $event)">
      @if (templateLink(); as template) {
        <ng-container *ngTemplateOutlet="template; context: {$implicit: atalho, indice: i, impar, ultimo}"></ng-container>
      }
      @else{
        {{atalho.nome}}
      }
    </a>
  }
</nav>
