<div class="container">
  @if (atalhos.isLoading()) {
    <h2 class="text-center">Carregando atalhos...</h2>
  }
  @else if (atalhos.error()) {
    <h2 class="text-center text-danger">{{atalhos.error()?.message}}</h2>
  }
  @else {
    @let destaques = atalhosDestaque().length ? atalhosDestaque() : atalhosMaisSistemas();

    <div class="d-block position-relative text-end">
      <button class="btn btn-sm btn-outline-secondary"
        (click)="editando.set(!editando())">
        {{editando() ? 'Concluir edição' : 'Editar atalhos'}}
      </button>
    </div>

    <app-portal-destaques [atalhos]="destaques"
      [edicaoAtiva]="editando()"
      (atalhoRebaixado)="alterarDestaqueAtalho($event, false)">
    </app-portal-destaques>

    @if (atalhosDestaque().length && atalhosMaisSistemas().length) {
      <app-portal-mais-sistemas [atalhos]="atalhosMaisSistemas()"
        [edicaoAtiva]="editando()"
        [minimoColapsar]="5"
        [templateLink]="templateContentChild()"
        (atalhoPromovido)="alterarDestaqueAtalho($event, true)">
      </app-portal-mais-sistemas>
    }
  }
</div>
